*{
 padding: 0;
 margin: 0;
 border: 0;
 background-color: #616161;

}

table {
    margin-top: 1.5rem;
    margin-left: 1.3rem;
    border: 2px solid gray;
    margin-right: 1.3rem;
}

tbody,thead{
    
    border: 2px solid gray;
}
td{
    margin: 40px;
    border: 2px solid gray ;
    padding: 30px;
    font-size: 22px;
    text-align: center ;
}